<md-card *ngIf="project">
  <md-card-header>
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title>{{project.name}}</md-card-title>
    <md-card-subtitle>{{project.platform}} <small>({{project.language}})</small></md-card-subtitle>
  </md-card-header>
  <a *ngFor="let image of project.images" [href]="image" target="_blank">
    <img md-card-image [src]="image" (click)="onViewImage(image)">
  </a>
  <md-card-content>
    <p>{{project.description}}</p>
  </md-card-content>

  <md-card-actions>
    <a md-button *ngIf="project.links.github" [href]="project.links.github" target="_blank">Github</a>
    <a md-button *ngIf="project.links.site" [href]="project.links.site" target="_blank">{{project.name}}</a>
  </md-card-actions>
</md-card>
