//@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

@import '~@angular/material/core/theming/all-theme';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-light-blue, 400, 700, 200);
$accent:  mat-palette($mat-blue, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);


html, body, .app-component {
  margin:0;
  padding:0;
  height:100%;
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
