<div class="app-component">
  <md-toolbar color="primary">
    <span class="title">Personal Site</span>
    <span class="example-fill-remaining-space"></span>
    <span class="links">
      <a href="https://www.linkedin.com/in/sodhim/" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/mssodhi" target="_blank"><i class="fa fa-github"></i></a>
    </span>
  </md-toolbar>

  <md-sidenav-container class="sidenav-container">
    <md-sidenav #start [opened]="true" mode="side">
      <div class="content">
        <img src="assets/img/mainpic.jpeg">
        <hr>
        <div align="center" class="personal">
          <h3 align="center" class="md-card-header-text">Manu Sodhi</h3>
          <a href="mailto:mssodhi@ucdavis.edu">mssodhi@ucdavis.edu</a>
        </div>
        <hr>
        <div class="sidenav-list">
          <div *ngFor="let obj of sideMenuItems">
            <a (click)="navigateTo(obj.link)" md-button>{{obj.title}}</a>
          </div>
        </div>
      </div>
    </md-sidenav>

    <div class="router">
      <router-outlet></router-outlet>
    </div>

  </md-sidenav-container>
</div>
