md-card {
  width: 600px;
  display: inline-block;

  md-card-title, md-card-subtitle {
    margin-left: -8px;
    font-size: 1em;
  }

  img {
    width: 150px;
    margin: 0 20px 10px 0;
  }

  img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
  }

}
